{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %} 

	<div class="container">
		<div class="row m-2 p-2 d-flex align-items-center justify-content-around w-100 h-100vh">
			<div  class="login-form">

    <h1 class="text-center mb-2">Register</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_widget(registrationForm.email,{'attr':{'class': 'form form-control m-3', 'placeholder': "Email"}}) }}

        {{ form_widget(registrationForm.firstName ,{'attr':{'class': 'form form-control m-3', 'placeholder': "First Name"}}) }}
        {{ form_widget(registrationForm.lastName ,{'attr':{'class': 'form form-control m-3', 'placeholder': "Last Name"}}) }}

    {{ form_widget(registrationForm.plainPassword.first, {
    'attr': {'class': 'form form-control m-3', 'placeholder': 'Password'}
    }) }}
    
    {{ form_widget(registrationForm.plainPassword.second, {
    'attr': {'class': 'form form-control m-3', 'placeholder': 'Repeat Password'}
    }) }}

        <button type="submit" class="btn btn-lg btn-primary w-100 mt-3">Register</button>
    {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>


{% endblock %}
